name: Build MM2RNGMod

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies + LLVM 20
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip ninja-build cmake wget
        wget -O llvm.sh https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 20 all
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-20 100
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-20 100
        sudo update-alternatives --install /usr/bin/ld.lld ld.lld /usr/bin/ld.lld-20 100

    - name: Install Python tools
      run: python3 -m pip install pyelftools mmh lz4

    - name: Setup LibHakkun stdlib
      run: |
        python3 sys/tools/setup_libcxx_prepackaged.py
        python3 sys/tools/setup_sail.py

    - name: Configure & Build
      run: |
        cmake -B build \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_C_COMPILER=clang \
          -DCMAKE_CXX_COMPILER=clang++ \
          -DCMAKE_ASM_COMPILER=clang \
          -DCMAKE_EXE_LINKER_FLAGS="-fuse-ld=lld" \
          -G Ninja
        ninja -C build

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: MM2RNGMod-exefs
        path: build/exefs/**
